<footer>
    <div class="footer-info py-5">
    <div class="row py-5 w-85 text-white mx-auto">
        <div class="col-lg-4 text-center my-4">
            <h3 class="mb-3">LOCATION</h3>
            <p>2215 John Daniel Drive<br>
                Clark, MO 65243</p>
        </div>

        <div class="col-lg-4 text-center my-4">
            <h3 class="mb-3">AROUND THE WEB</h3>
            <div class="social-icons">
                <a class="btn btn-outline-light rounded-circle mx-1"><i class="fa-brands fa-facebook-f fs-4"></i></a>
                <a class="btn btn-outline-light rounded-circle mx-1"><i class="fa-brands fa-twitter fs-4"></i></a>
                <a class="btn btn-outline-light rounded-circle mx-1"><i class="fa-brands fa-linkedin-in fs-4"></i></a>
                <a class="btn btn-outline-light rounded-circle mx-1"><i class="fa-brands fa-dribbble fs-4"></i></a>
            </div>
        </div>

        <div class="col-lg-4 text-center my-4">
            <h3 class="mb-3">ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>

    <div class="copyRight text-white pt-3 pb-2 text-center">
        <p>Copyright © Your Website 2021</p>
    </div>
</footer>