section {
    background-color: #1abc9c;
}

h2 {
    font-size: 3.2rem;
    font-weight: 700;
}

.w-60 {
    width: 60%;
}

.text-cu {
    color: #2c3e50;
}

.pizzaImg {
    height: 250px;
}

.item{
    height: 390px;
}
.item img{
    height: 270px;
}
.item .info{
    height: 120px;
}