<nav class="navbar navbar-expand-lg navbar-dark bg-custom py-4">
    <div class="container">
        <a class="navbar-brand fw-bold fs-3" routerLink="home">START ANGULAR</a>
        <button class="navbar-toggler text-white fs-7 py-3 bg-green fw-bold rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            MENU <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mx-1" routerLinkActive="active">
                    <a class="nav-link text-white px-3 fs-li fw-bold"  routerLink="portofolio">PORTFOLIO</a>
                </li>
                <li class="nav-item  mx-1" routerLinkActive="active">
                    <a class="nav-link text-white px-3 fs-li fw-bold"  routerLink="about">ABOUT</a>
                </li>
                <li class="nav-item mx-1" routerLinkActive="active">
                    <a class="nav-link text-white px-3  fs-li fw-bold" routerLink="contact">CONTACT</a>
                </li>

            </ul>

        </div>
    </div>
</nav>