<section class="py-5 position-relative">
    <div>
        <div class="text-center portfolio-header">
            <h2>PORTFOLIO</h2>
            <div class="w-40 mt-3 mb-4 d-flex mx-auto">
                <div class="line mt-3"></div>
                <i class="fa-solid fa-star mx-2 fs-2"></i>
                <div class="line mt-3"></div>
            </div>
        </div>
        <div>
            <div class="container">

                <div class="row items">
                    <div class="col-md-4 my-3 ">
                        <div class="item text-center position-relative" >
                            <img src="../../assets/imgs/cabin.png" width="95%" class="rounded-3">
                            <div class="layer rounded-3 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white plus-icon fw-bold"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 my-3">
                        <div class="item text-center position-relative">
                            <img src="../../assets/imgs/cake.png" width="95%" class="rounded-3">
                            <div class="layer rounded-3 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white plus-icon fw-bold"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 my-3">
                        <div class="item text-center position-relative">
                            <img src="../../assets/imgs/circus.png" width="95%" class="rounded-3">
                            <div class="layer rounded-3 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white plus-icon fw-bold"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 my-3">
                        <div class="item text-center position-relative">
                            <img src="../../assets/imgs/game.png" width="95%" class="rounded-3">
                            <div class="layer rounded-3 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white plus-icon fw-bold"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 my-3">
                        <div class="item text-center position-relative">
                            <img src="../../assets/imgs/safe.png" width="95%" class="rounded-3">
                            <div class="layer rounded-3 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white plus-icon fw-bold"></i>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 my-3">
                        <div class="item text-center position-relative">
                            <img src="../../assets/imgs/submarine.png" width="95%" class="rounded-3">
                            <div class="layer rounded-3 d-flex justify-content-center align-items-center">
                                <i class="fa-solid fa-plus text-white plus-icon fw-bold"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="outlayer pt-3 pb-4">
            <div class="itemInfo m-auto text-center py-5 position-relative">
                <div class="position-absolute end-0 top-0 mt-4 me-5">
                    <i class="fa-solid fa-xmark exit"></i>
                </div>
                <h2>LOCKED SAFE</h2>
            <div class="w-40 mt-3 mb-4 d-flex mx-auto ">
                <div class="line mt-3"></div>
                <i class="fa-solid fa-star mx-2 fs-2"></i>
                <div class="line mt-3"></div>
            </div>
                <img src="../../assets/imgs/cabin.png" width="60%">
                <p class="my-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam non, placeat esse doloribus harum et hic, earum quam, iste sequi natus ea assumenda consectetur magnam cum dolor minima. Dicta, necessitatibus.</p>
                <button class="mb-2 btn text-white"><i class="fa-solid fa-xmark fs-6"></i> Close Window</button>
            </div>
        </div>
    </div>


</section>